h1 {
  font-size: 30px;
}

h4,
p,
button {
  text-align: center;
  display: inline-block;
}
div {
  box-sizing: border-box;
  width: 400px;
}
input {
  width: 300px;
}
button {
  margin-top: 20px;
  float: right;
}
input + button {
  width: 90px;
  margin: 0;
}

.list {
  border: 1px solid;
}
.black-nav {
  display: flex;
  background: black;
  width: 100%;
  color: #fff;
  padding-left: 20px;
  height: 100px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  font-size: 2em;
}
.modal {
  margin-top: 50px;
  padding: 20px;
  background-color: blanchedalmond;
  text-align: center;
}
#root {
  position: relative;
}
.App {
  position: absolute;
  width: 400px;
  left: 200%;
}
