div {
  box-sizing: border-box;
}
.list {
  text-align: left;
  padding-left: 20px;
  border-bottom: 1px solid grey;
}
.black-nav {
  display: flex;
  background: burlywood;
  width: 100%;
  color: royalblue;
  padding-left: 20px;
  height: 100px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  font-size: 2em;
}
.modal {
  margin-top: 50px;
  padding: 20px;
  background-color: blanchedalmond;
  text-align: center;
}
.sort {
  float: right;
}
